<%# app/views/user_mfa_sessions/setup_google_auth.html.erb %>

<body id= "defBG">
<div class="container p-5 my-3 w-75 border bg-white">
<div class="d-flex justify-content-center">
<%= image_tag 'AudiaShield1.png', style: "margin: 0 auto; width: 125px " %>
</div>
<div>
  <% if current_user && current_user.user_mfa_sessions.first && !current_user.user_mfa_sessions.first.activated %>
    <h2  class= "display-4", style= 'padding-bottom:20px' ><strong>Set up Google Authenticator</strong></h2>
    <div  class="mfa-page">
    <div class="instructions">
      <p><strong>Follow the steps below to enable Google Authenticator:</strong></p>
      <ol>
        <li>Download the <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en&gl=US" target="_blank">Google Authenticator app</a> for Android or <a href="https://apps.apple.com/us/app/google-authenticator/id388497605" target="_blank">iOS</a>.</li>
        <li>Open the app and scan the QR code.</li>
        <li>Enter the code provided by the app in the field below.</li>
      </ol>
    </div>
    <div class="qr-code-container">
      <% qr_code = RQRCode::QRCode.new(current_user.generate_qr_code) %>
      <%= raw qr_code.as_svg(module_size: 5) %>
    </div>
  <% else %>
    <p>Your Google Authenticator is already set up.</p>
  <% end %>
</div>
  <div class="mfa-container">
    <%= form_tag user_mfa_session_path, method: :post, class: "mfa-form", role: "form" do %>
      <div class="form-group">
        <%= label_tag "Token", 'Google Authenticator Code', class: 'mfa-label' %>
        <%= text_field_tag 'mfa_code', params[:mfa_code], class: "form-control" %>
      </div>
      <%= submit_tag 'Verify', class: "btn btn-primary mfa-submit" %>
    <% end %>
  </div>
</div>
</div>
</body>
