<h1>Test type</h1>
<h1><%= @dwt_test.test_type%></h1>
<h1>left Score</h1>
<h1><%= @dwt_test.left_score%></h1>
<h1>Right Score</h1>
<h1><%= @dwt_test.right_score%></h1>
<h1>Ear Advantage</h1>
<h1><%= @dwt_test.ear_advantage%></h1>
<h1>Ear Advantage Score</h1>
<h1><%= @dwt_test.ear_advantage_score%></h1>
<h1>Interpretation</h1>
<h1><%= @dwt_test.interpretation%></h1>
<h1>Left Percentile</h1>
<h1><%= @dwt_test.left_percentile%></h1>
<h1>Right Percentile</h1>
<h1><%= @dwt_test.right_percentile%></h1>
<h1>Advantage Percentile</h1>
<h1><%= @dwt_test.advantage_percentile%></h1>