<body id= "defBG">
<!--DWT Test Show page, displays data in 3 columns so its easy for clinicians to review and understand the scores gotten -->

<div class="container p-5 my-3 w-100 bg-white border-0">
<h1 class="display-3 pl-4", style= 'padding-top:20px'><b><%= @dwt_test.test_type%> Test Results</b></h1>
<hr>
<!--This contains the 3 rows for the data stored on the page all test scores are pulled from the dwt test model -->
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2 class="pt-5", style= 'padding-top:20px'><center><b>Left Ear Score</b></center></h2>
            <h2 class="display-5", style= 'padding-top:7px'><center><b><%= @dwt_test.left_score%>%</b></center></h2>
            <h2 class="pt-3", style= 'padding-top:17px'><center><b>Left Ear Percentile</b></center></h2>
            <h3 class="display-5", style= 'padding-top:7px'><center><b><%= @dwt_test.left_percentile%></b></center></h3>
        </div>
        <div class="col-sm">
            <%= image_tag 'person.png', class: 'w-40 img-responsive center-block', style: 'max-width: 20rem;' %>
        </div>
        <div class="col-sm">
            <h2 class="pt-5", style= 'padding-top:20px'><center><b>Right Ear Score</b></center></h2>
            <h2 class="display-5", style= 'padding-top:7px'><center><b><%= @dwt_test.right_score%>%</b></center></h2>
            <h2 class="pt-3", style= 'padding-top:17px'><center><b>Right Ear Percentile</b></center></h2>
            <h3 class="display-5", style= 'padding-top:7px'><center><b><%= @dwt_test.right_percentile%></b></center></h3>
        </div>
    </div>
<div>
<!--Data stored outside of the columns with the image -->




<hr>

<h1><b>Interpretation of Test:  </b></h1>
<h2><b><%= @dwt_test.interpretation%></b></h2>

<hr>
<!--Same data, just stored in exactly same format as is on normal test page, if that is easier for the clinician to use for review -->

<h3 class="display-4 pl-2", style= 'padding-top:20px'><b>Scores Table</b></h3>
<div class="row">
<div class="col-md">
<table class="table table-sm table-bordered m1-4" style="max-width: 25rem;">
    <thead>
        <tr>
            <th scope="col">Pairs</th>
            <th scope="col">Left</th>
            <th scope="col">Right</th>
            <th scope="col">Ear Adv</th>
        </tr>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td class="left-column"><%= @dwt_test.left_score%></span>%</p></td>
                <td class="right-column"><%= @dwt_test.right_score%></span>%</td>
                <td class="ear-advantage"><%= @dwt_test.ear_advantage_score%>0</span>%</td>
            </tr>
            <tr>
                <th scope="row">2</th>
            </tr>
            <tr>
                <th scope="row">3</th>           
            </tr>
        </tbody>
    </thead>
</table>
</div>
    <div class="col-md">
            <h1><b>Dominant Ear:    </b> <%= @dwt_test.ear_advantage%></h1>
            <h2><b><center></b></center></h2>
            <h1><b>Ear Advantage Score:     </b> <%= @dwt_test.ear_advantage_score%>%</h1>
            <h2><b><center></b></center></h2>
    </div>
</div>

<hr>
<h3 class="display-4 pl-2", style= 'padding-top:20px'><b>Percentile Table</b></h3>
<div class="row">
<div class="col-md">
<table class="table table-sm table-bordered m1-4" style="max-width: 25rem;">
    <thead>
        <tr>
            <th scope="col">Left Ear</th>
            <th scope="col">Right Ear</th>
            <th scope="col">Ear Advantage</th>
        </tr>
        <tbody>
            <tr>
                <td class="percentile"><%= @dwt_test.left_percentile%></span></td>
                <td class="percentile"><%= @dwt_test.right_percentile%></span></td>
                <td class="percentile"><%= @dwt_test.advantage_percentile%></span></td>
            </tr>
        </tbody>
    </thead>
</table>
</div>

    <div class="col-md">
        <h1><b>Ear Advantage Percentile:    </b> <%= @dwt_test.advantage_percentile%>%</h1>
    </div>
</div>
<hr>
<!--this begins the backend functions to keep the test tables looking exactly as they do on the normal test page, these are taken straight from the test page so reivew that for how they work -->

<style>
    .left-column {
        background-color: lightblue;
    }
    
    .right-column {
        background-color: lightpink;
    }

</style>



<script>
    const earAdvantageCells = document.querySelectorAll('.ear-advantage');
    const percentileCells = document.querySelectorAll('.percentile');
    
    // Loop through each ear advantage cell
    earAdvantageCells.forEach(cell => {
    // Get the value of the cell
    const value = parseFloat(cell.textContent);

    // Check the value and set the background color accordingly
    if (value < 0) {
        cell.style.backgroundColor = 'lightblue';
    } else if (value > 0) {
        cell.style.backgroundColor = 'lightpink';
    } else {
        cell.style.backgroundColor = 'white';
    }
    });

    percentileCells.forEach(cell => {
    // Get the value of the cell
    const percValue = cell.textContent.trim();

    // Check the value and set the background color accordingly
    if ((percValue == "5th Percentile")) {
        cell.style.backgroundColor = 'lightpink';
    } 
    else if (percValue == "10th Percentile") {
        cell.style.backgroundColor = 'hsl(60, 100%, 70%)';
    } 
    else if (percValue == "25th Percentile") {
        cell.style.backgroundColor = 'lightgreen';
    }
    else{
        cell.style.backgroundColor = 'lightblue';
    }
    });
</script>

<hr>

