<body id= "defBG">
    <div class="card mb-3 border-0", style="padding-top:25px">
      <div class="container p-5 my-3 w-100 bg-white border-0">
        <!-- Display tables for Keys and Discounts -->
        <h2 class="display-3" >License Keys</h2>
        <hr>

            <%= form_with url: create_key_global_moderators_dashboard_index_path, method: :post do |form| %>

            <div class="form-submit pb-3">
                <%= form.label :license_type, 'License Type' %>
                <%= form.select :license_type, [1, 2], {}, { name: 'key[license_type]' } %>
              <%= form.submit "Create License Key", class: "btn-lg btn-primary mfa-submit rounded-pill" %>
            </div>
          <% end %>
        <div class="tableWrap">
        <table>
          <thead>
          <tr>
            <th>Activation Code</th>
            <th>License Type</th>
            <th>Expiration</th>
          </tr>
          </thead>
          <tbody>
          <% @keys.each do |key| %>
            <tr>
              <td><%= key.activation_code %></td>
              <td><%= key.license_type %></td>
              <td><%= key.expiration %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
        </div>





        <h2 class="display-3 pt-5" >Discount Codes</h2>
        <hr>
        <h2 class="display-5 pt-3" ><strong>Generate Discount Code</strong></h2>
         <div class="form-container">
          <!-- Form for Creating Discount -->
          <%= form_with url: create_discount_global_moderators_dashboard_index_path, method: :post do |form| %>
            <div class="form-row pb-4">
              <div class="form-cell">
                <%= form.label :code, 'Code' %>
                <%= form.text_field :code, name: 'discount[code]' , style:"width:80%;"%>
              </div>
              <div class="form-cell">
                <%= form.label :percentage_off, 'Percentage Off' %>
                <%= form.number_field :percentage_off, name: 'discount[percentage_off]', style:"width:80%;"%>
              </div>
              <div class="form-cell">
                <%= form.label :redemption_quantity, 'Quantity' %>
                <%= form.number_field :redemption_quantity, name: 'discount[redemption_quantity]' , style:"width:80%;"%>
              </div>
              <div class="form-cell">
                <%= form.label :days_until_expiration, 'Expires In (Days)' %>
                <%= form.number_field :days_until_expiration, name: 'discount[days_until_expiration]' , style:"width:80%;"%>
              </div>
              <div class="form-submit pt-3">
              <%= form.submit "Create Discount", class: "btn-lg btn-primary mfa-submit rounded-pill" %>
            </div>

            </div>
            
          <% end %>


          <!-- Form for Creating License Key -->

        </div>

        <h2 class="display-5 pt-3" ><strong>Generated Codes</strong></h2>
        <div class="tableWrap">
        <table>
          <thead>
          <tr>
            <th>Code</th>
            <th>Percentage Off</th>
            <th>Quantity</th>
            <th>Expires In (Days)</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>
          <% @discounts.each do |discount| %>
            <tr>
              <td><%= discount.code %></td>
              <td><%= discount.percentage_off %>%</td>
              <td><%= discount.redemption_quantity %></td>
              <td><%= (discount.expiration_date - Date.today).to_i %> days</td>
              <td>
                <%= link_to 'Delete', destroy_discount_global_moderators_dashboard_path(id: discount.id), method: :delete, data: { confirm: 'Are you sure you want to delete this discount?' } %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        </div>




       









        <!-- CSS Styles -->
        <style>

          .tableWrap {
            height: 500px;
            border: 2px solid rgba(0, 140, 186, 1);
            overflow: auto;
          }
            .form-container {
                width: 100%;
                margin-top: 20px;
            }

            .form-row {
                display: relative;
                justify-content: space-evenly;
                margin-bottom: 10px;
            }

            .form-cell {
                width: 20%; /* Adjust this percentage to match the width of the table columns */
                padding-right: 10px;
            }
            
            .form-cell label {
                display: block;
                margin-bottom: 5px;
            }

            .form-submit {
                text-align: right;
            }

            @media (max-width: 600px) {
                .form-row {
                    flex-direction: column;
                }

                .form-cell {
                    width: 100%;
                    padding-right: 0;
                }
            }
        </style>
      </div>
    </div>
  </body>
