<body id= "defBG">
<div class="container p-5 my-3 w-100 bg-white border-0">
<!--RDDT Test Show page, displays data in 3 columns so its easy for clinicians to review and understand the scores gotten 
The RDDT contains much more data and has more going on due to the multi button per cell setup-->

<h1 class="display-3 pl-4", style= 'padding-top:20px'><b><%= @rddt_test.test_type%> Test Results</b></h1>
<h3 class="pl-5 pr-5", style="font-size:17px;"><b>Note*: RDDT tests, collect scores for all 3 button types, single, double and triple. However, only the double button scores arethe only scores used for interpretation, ear advantage and percentile.</center></b></h3>
<hr>
<!--This contains the 3 rows for the data stored on the page all test scores are pulled from the rddt test model -->

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2><center><b>Left Ear Singles</b></center></h2>
            <h2><center><%= @rddt_test.left_score1%>%</b></center></h2>
            <h2><center><b>Left Ear Doubles</b></center></h2>
            <h2><center><%= @rddt_test.left_score2%>%</b></center></h2>
            <h2><center><b>Left Ear Triples</b></center></h2>
            <h2><center><%= @rddt_test.left_score3%>%</b></center></h2>
            <h2><center><b>Left Ear Percentile</b></center></h2>
            <h3><center><%= @rddt_test.left_percentile%></b></center></h3>
        </div>
        <div class="col-sm">
            <%= image_tag 'person.png', class: 'w-40 img-responsive center-block', style: 'max-width: 20rem;' %>
        </div>
        <div class="col-sm">
            <h2><center><b>Right Ear Singles</b></center></h2>
            <h2><center><%= @rddt_test.right_score1%>%</b></center></h2>
            <h2><center><b>Right Ear Doubles</b></center></h2>
            <h2><center><%= @rddt_test.right_score2%>%</b></center></h2>
            <h2><center><b>Right Ear Triples</b></center></h2>
            <h2><center><%= @rddt_test.right_score3%>%</b></center></h2>
            <h2><center><b>Right Ear Percentile</b></center></h2>
            <h3><center><%= @rddt_test.right_percentile%></b></center></h3>
        </div>
    </div>
<div>

<!--Data stored outside of the columns with the image -->




<hr>

<h1><b>Interpretation of Test:      </b><%= @rddt_test.interpretation%></h1>
<h2><b></b></h2>

<hr>
<!--Same data, just stored in exactly same format as is on normal test page, if that is easier for the clinician to use for review -->


<h3 class="display-4 pl-2", style= 'padding-top:20px'><b>Scores Table</b></h3>
<div class="row">
<div class="col-md">
<table class="table table-sm table-bordered m1-4" style="max-width: 25rem;">
    <thead>
        <tr>
            <th scope="col">Pairs</th>
            <th scope="col">Left</th>
            <th scope="col">Right</th>
            <th scope="col">Ear Adv</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td class="left-column"><%= @rddt_test.left_score1%></span>%</td>
            <td class="right-column"><%= @rddt_test.right_score1%></span>%</td>
            <td class="ear-advantage"><%= @rddt_test.ear_advantage_score1%></span>%</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td class="left-column"><%= @rddt_test.left_score2%></span>%</td>
            <td class="right-column"><%= @rddt_test.right_score2%></span>%</td>
            <td class="ear-advantage"><%= @rddt_test.ear_advantage_score%></span>%</td>
        </tr>
        <tr>
            <th scope="row">3</th>  
            <td class="left-column"><%= @rddt_test.left_score3%></span>%</td>
            <td class="right-column"><%= @rddt_test.right_score3%></span>%</td>
            <td class="ear-advantage"><%= @rddt_test.ear_advantage_score3%></span>%</td>       
        </tr>
    </tbody>
</table>
</div>

<div class="col-md">
    <h1><b>Dominant Ear</b>:    <%= @rddt_test.ear_advantage%></h1>
    <h2><b></b></h2>
    <h1><b>Ear Advantage Score</b>:     <%= @rddt_test.ear_advantage_score%>%</h1>
    <h2><b></b></h2>
</div>
</div>

<hr>
<h3 class="display-4 pl-2", style= 'padding-top:20px'><b>Percentile Table</b></h3><br>
    <div class="row">
        <div class="col-md">
        <table class="table table-sm table-bordered m1-4" style="max-width: 25rem;">
            <thead>
                <tr>
                    <th scope="col">Left Ear</th>
                    <th scope="col">Right Ear</th>
                    <th scope="col">Ear Advantage</th>
                </tr>
                <tbody>
                    <tr>
                        <td class="percentile"><%= @rddt_test.left_percentile%></span></td>
                        <td class="percentile"><%= @rddt_test.right_percentile%></span></td>
                        <td class="percentile"><%= @rddt_test.advantage_percentile%></span></td>
                    </tr>
                </tbody>
            </thead>
        </table>
        <div>
        <div class="col-md">
            <h1><b>Ear Advantage Percentile:    </b><%= @rddt_test.advantage_percentile%>%</h1>
            <h2><b></b></h2>
        </div>
</div>
<hr>


<!--this begins the backend functions to keep the test tables looking exactly as they do on the normal test page, these are taken straight from the test page so reivew that for how they work -->

<style>
    .left-column {
        background-color: lightblue;
    }
    
    .right-column {
        background-color: lightpink;
    }

</style>



<script>
    const earAdvantageCells = document.querySelectorAll('.ear-advantage');
    const percentileCells = document.querySelectorAll('.percentile');
    
    // Loop through each ear advantage cell
    earAdvantageCells.forEach(cell => {
    // Get the value of the cell
    const value = parseFloat(cell.textContent);

    // Check the value and set the background color accordingly
    if (value < 0) {
        cell.style.backgroundColor = 'lightblue';
    } else if (value > 0) {
        cell.style.backgroundColor = 'lightpink';
    } else {
        cell.style.backgroundColor = 'white';
    }
    });

    percentileCells.forEach(cell => {
    // Get the value of the cell
    const percValue = cell.textContent.trim();

    // Check the value and set the background color accordingly
    if ((percValue == "5th Percentile")) {
        cell.style.backgroundColor = 'lightpink';
    } 
    else if (percValue == "10th Percentile") {
        cell.style.backgroundColor = 'hsl(60, 100%, 70%)';
    } 
    else if (percValue == "25th Percentile") {
        cell.style.backgroundColor = 'lightgreen';
    }
    else{
        cell.style.backgroundColor = 'lightblue';
    }
    });
</script>
</div>
</body>

<hr>


